#games {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

table, td, th {
  border: 1px solid black;
  padding: 5px 10px;
}

table {
  border-collapse: collapse;
  text-align: center;
}

#new_game {
  margin: 20px 0;
}

#error_field {
  color: red;
}