body {
  padding: 20px;
}

#games {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.game {
  margin-right: 10px;
  margin-bottom: 10px;
}

table, td, th {
  border: 1px solid black;
  padding: 5px 10px;
}

table {
  border-collapse: collapse;
  text-align: center;
}

#new_game {
  margin: 20px 0;
}

#error_field {
  color: red;
}

#sub_json {
  width: 300px;
}

#game_buttons {
  margin: 20px 0;
}

.game_button {
  margin-right: 10px;
  margin-bottom: 10px;
}